<div class="filter-active d-flex align-items-center mb-5">
  <button type="button" class="btn btn-outline-secondary active me-3 filter-item" id="today">Сегодня</button>
  <button type="button" class="btn btn-outline-secondary me-3 filter-item" id="week">Неделя</button>
  <button type="button" class="btn btn-outline-secondary me-3 filter-item" id="month">Месяц</button>
  <button type="button" class="btn btn-outline-secondary me-3 filter-item" id="year">Год</button>
  <button type="button" class="btn btn-outline-secondary me-3 filter-item" id="all">Все</button>
  <button type="button" class="btn btn-outline-secondary me-3 filter-item" id="interval">Интервал</button>
  <div class="position-relative" id="search-interval">
    <div class="row">
      <div class="col-auto pe-0">
        <label class="text-black" for="search-from-date">c</label>
      </div>
      <div class="col-4 px-0">
        <input type="text" class="border-0 w-100 text-center" disabled placeholder="Дата"
               name="search-date"
               id='search-from-date' value="">
      </div>
      <div class="col-auto  px-0">
        <label class="text-black" for="search-to-date">по</label>
      </div>
      <div class="col-4 px-0">
        <input type="text" class="border-0 w-100 text-center" disabled placeholder="Дата"
               name="search-date"
               id='search-to-date' value="">
      </div>
    </div>
  </div>
</div>