<h1 class="mb-5">Главная</h1>
<div class="container p-0">
    <div id="filter-tools"></div>
    <div class="row row-cols-xl-2 justify-content-center flex-wrap">
        <div class="col-auto p-0 box-chart">
            <h3 class="text-center mb-3">Доходы</h3>
            <div class="border-xl border-end pe-xl-5">
                <canvas id="chartIncome"></canvas>
            </div>
        </div>
        <div class="col-auto p-0 box-chart">
            <h3 class="text-center mb-3">Расходы</h3>
            <div class="ps-xl-5">
                <canvas id="chartExpense" class=""></canvas>
            </div>
        </div>
    </div>
</div>
