<div id="popup-container" class="d-none justify-content-center align-items-center modal popup-container position-fixed top-0 start-0 end-0 bottom-0 bg-black bg-opacity-25 ">
    <div class="modal-dialog popup position-fixed bg-white border rounded-4 text-center p-5 fs-6 lh-base fw-semibold">
        <div class="modal-content border-0">
            <div id="popupTitle" class="mb-3 fs-5">Вы действительно хотите удалить операцию?</div>
            <div class="action">
                <button id="popup-delete" class="btn btn-success px-3 py-2 me-2">Да, удалить</button>
                <button id="popup-cansel" class="btn btn-danger px-3 py-2">Не удалять</button>
            </div>
        </div>
    </div>
</div>
